<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minecraft {{ version }}'s Age</title>
    <style>
        #thecontent {
            text-align: center;
            position: relative;
            transform: translateY(43vh);
        }

        #theage {
            margin: 0;
            font-size: 2.5vw;
        }

        #bday {
            margin: 0;
            font-size: 2.5vw;
        }
        @media (prefers-color-scheme: dark) {
            body {
                background-color: black;
                color: white;
            }
        }
    </style>
    <meta property="og:title" content="Minecraft {{ version }}'s Age">
    <meta property="og:url" content="https://paper.theairplan.com/age/{{ version }}">
    <meta property="og:description" content="Minecraft {{ version }} released {{ age }} ago! {% if birthday %}Happy Birthday! 🥳{% endif %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<script>
    // We want this to parse out the age of the version and tick it up every second
    const version = "{{ version }}";
    const release_date = "{{ release }}";

    function parseAge(date, version) {
        const theAge = document.getElementById("theage");
        const unitArray = [];

        // This is ISO 8601 format
        const momentParsed = moment(date, "YYYY-MM-DDTHH:mm:ssZ").utc();
        const momentNow = moment().utc();
        const diff = momentNow.diff(momentParsed, "milliseconds");
        const duration = moment.duration(diff);

        const years = duration.years();
        const months = duration.months();
        const days = duration.days();
        const hours = duration.hours();
        const minutes = duration.minutes();
        const seconds = duration.seconds();

        const yearUnit = years === 1 ? "year" : "years";
        const monthUnit = months === 1 ? "month" : "months";
        const dayUnit = days === 1 ? "day" : "days";
        const hourUnit = hours === 1 ? "hour" : "hours";
        const minuteUnit = minutes === 1 ? "minute" : "minutes";
        const secondUnit = seconds === 1 ? "second" : "seconds";

        // Push all the units to an array
        if (years > 0) unitArray.push(years + " " + yearUnit);
        if (months > 0) unitArray.push(months + " " + monthUnit);
        if (days > 0) unitArray.push(days + " " + dayUnit);
        if (hours > 0) unitArray.push(hours + " " + hourUnit);
        if (minutes > 0) unitArray.push(minutes + " " + minuteUnit);
        if (seconds > 0) unitArray.push(seconds + " " + secondUnit);

        // Pop the last out of the array and store it, we'll be appending it with an and
        const last = unitArray.pop();
        // Build our string
        theAge.innerText = "Minecraft " + version + " released " + unitArray.join(", ") + " and " + last + " ago!";
    }

    // Once the page loads we want to run the parsing function every second
    window.onload = function() {
        // Increment the age every second
        setInterval(function() {
            parseAge(release_date, version);
        }, 1000);
    }
</script>
<div id="thecontent">
    <h1 id="theage">Minecraft {{ version }} released {{ age }} ago!</h1>
    {% if birthday %}
    <h2 id="bday">Today is the version's birthday! 🥳</h2>
    {% endif %}
</div>
</body>
</html>